Flask==2.2.5
flask-login==0.6.2
flask-session==0.4.0
flask-sqlalchemy==3.0.3
flask-wtf==1.1.1
pyodbc==5.1.0
SQLAlchemy==2.0.7
werkzeug==2.2.3
msal==1.22.0
azure-storage-blob==12.16.0
python-dateutil==2.8.2
six==1.16.0
gunicorn==20.1.0
setuptools==69.5.1